.ap-job-form {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw !important;
}

.ap-job-form textarea {
  width: 100% !important;
  max-width: none !important;
}

